extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner Max Website
    div.Message
      div.Title
        h3 Max Website
        h1 testing
      span.Details Test text
    div.NavButtons
      a(href="/users")
          div.NavButton Go to users
      a(href="/values")
          div.NavButton Go to values
          