extends layout

block layout-content
  .View
    .Message
        .Title
        h3 Users 
        h1 Users 2
    .NavButtons 
    a
      .NavButton Button 1
    a 
      .NavButton Button 2
  
      