extends layout

block layout-content
  .View
    .Message
        .Title
        h3 Users 
        h1 Users 2
    .NavButtons 
    b
      .NavButton Button 1
    b
      .NavButton Button 2
  
      